#umtopHbox {
	-fx-background-color: #6b3cab;
}
#umMoveUserHome {
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
}
#umBackColor {
	-fx-background-color: #8b6ab8;
}
#umBtnColor {
	-fx-background-color: #8b6ab8;
}
#umTotalLabel {
	-fx-font-weight: bold;
}
#umTotal {
	-fx-text-fill: black;
}
#umAddBtn {
	-fx-background-color: #8b6ab8;
	-fx-background-radius: 20px;
	-fx-border-width: 0px;
  	-fx-border-radius: 20px;
  	-fx-text-fill: white;
  	-fx-font-weight: bold;
}
#umNoticeBtn {
	-fx-background-color: transparent;
}
Label {
	-fx-font-weight: bold;
}
.table-view {
	-fx-background-color: transparent;
}
.table-view:focused {
	-fx-background-color: transparent;
}
.table-view .column-header-background {
	-fx-background-color: #8b6ab8;
}
.table-view .column-header-background .label {
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-font-size: 14px;
}
.table-view .column-header {
	-fx-background-color: #8b6ab8;
}
.table-view .table-cell {
	-fx-text-fill: black;
	-fx-font-size: 14px;
}
.table-row-cell {
	-fx-background-color: transparent;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 0.0em;
}
.table-row-cell:selected {
    -fx-background-color: -fx-table-cell-border-color, #8b6ab8;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
#umbtn1 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-size: 14px;
}
#umbtn2 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-size: 14px;
}
#umbtn3 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-size: 14px;
}
#umbtn4 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-size: 14px;
}
#umbtn5 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-size: 14px;
}
#umbtn6 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-size: 14px;
}